doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    h3 Block of Data
    ul
      for doc in data
        li #{doc.latv} : #{doc.lonv} : #{doc.distance} : #{doc.minutes} : #{doc.seconds} : #{doc.acc}